@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;

}

header {
    height: 90px;
    display: flex;
        justify-content: space-around;
    align-items: center;
    }

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Orbitron', sans-serif;
}

li:hover {
    color: aqua;
}

#logo {
    width: 150px;
    height: auto;
}

.critica-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content {
    width: 100%;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.card {
    width: 100%;
    height: 1080px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: white;
    font-size: 17px;
    font-family: 'Orbitron', sans-serif;
}




.comentario-1 {
    background-image: url('https://scontent-gru1-2.xx.fbcdn.net/v/t39.30808-6/331925800_640837894514329_5378359463965372176_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHyMx3Cvw8Qee2zTcAroSU56aRo1jraQSLppGjWOtpBIgvseYBBnAhaD3ioMBrmXh4t2GlyMmcuffjSLjDMp5Rq&_nc_ohc=wG8rQlyTf1UAX-m4mj4&tn=qEdxcA1SXl2Rjii1&_nc_ht=scontent-gru1-2.xx&oh=00_AfBaIeLT18lYIyl4xAWmuQSkGal9QUQKTooX28ZzmRCnBQ&oe=63F50B1F')
}

.comentario-2 {
    background-image: url('https://scontent-gru2-1.xx.fbcdn.net/v/t39.30808-6/331333528_907652203622627_1110153578536124706_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeFh3mY27FBIucmrzf5Tj_--2yGGUhltrMfbIYZSGW2sx1e1jAam-QiGozQkAETGJNRdZnNdFsNVkEayCwO7NGkA&_nc_ohc=qlo4oxKzrOIAX_Iu0tV&_nc_ht=scontent-gru2-1.xx&oh=00_AfAFhAlIKtA04ByKls8W_EfSerzt-Fc33jJ83ncngHySkw&oe=63F65EE6')
}

.comentario-3 {
    background-image: url('https://scontent-gru2-1.xx.fbcdn.net/v/t39.30808-6/331288960_2099503223580094_1688991739778740712_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeEf-k9oG_08LZc9w_EaPIpmRE5Uks7P_jNETlSSzs_-M0J7iXEAx7ltaI5xcNw3crvlPHIvE6pXn6mXExpBK0gF&_nc_ohc=7VGO_g1tkHIAX9_-OBv&_nc_ht=scontent-gru2-1.xx&oh=00_AfApkHN-WnEyr2wZ5e9X13wpHaUwq0DZqIh5yKB1SwUqqQ&oe=63F65F3A')
}

footer {
    height: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: white;
    font-family: 'Orbitron', sans-serif;
}